nav {
  border-bottom: 1px solid #ccc;
}

.link_list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.link_list li {
    margin-right: 1em;
  }

  .link_list li a{
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  }

button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #000;
  transition: 0.4s;
  font-size: 1em;
  cursor: pointer;
}

.active{
  color: #ccc;
  background-color: #000000;
}